.navbar {
    background-color: #333;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-button {
    background-color: crimson;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

    .navbar-button:hover {
        background-color: darkred;
    }
